body{
    background-color: #f2f2f2;
}
.card {
    position: absolute;
    top: 20%;
    width: 80%;
    height: 200px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.round-image{
    top: 5%;
    position: absolute;
    z-index: 10;
}
#image{
    height: 200px;
    border-radius: 100%;
    box-shadow: 15px 15px 30px #555555,
               -15px -15px 30px #ffffff;
}